<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/bd5a9345-5ebb-45b1-b1b5-15e2087c0ee4/resourceGroups/Blazor/providers/Microsoft.ApiManagement/service/BlazeCoreServerapi/apis/BlazeCoreServer</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/bd5a9345-5ebb-45b1-b1b5-15e2087c0ee4/resourceGroups/Blazor/providers/Microsoft.Web/sites/blazor</ResourceId>
    <ResourceGroup>Blazor</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://blazor-gthcfwbsevd5b4dr.swedencentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0a12a1c2-0d8c-4f65-b41d-3d502d9a0a7a</ProjectGuid>
    <PublishUrl>https://blazor-gthcfwbsevd5b4dr.scm.swedencentral-01.azurewebsites.net/</PublishUrl>
    <UserName>$blazor</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>